/*body {
}*/

.sidebar {
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: #DD2F6E;
    z-index: 100;
}

.sidebar-brand {
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: #fff;
}

    .sidebar-brand span {
        display: inline-block;
        padding-right: 1rem;
    }

.sidebar-menu li {
    width: 100%;
    margin-bottom: 1.3rem;
    padding-left: 2rem;
}

.sidebar-menu a {
    display: block;
    color: #fff;
    font-size: 1.1rem;
}

    .sidebar-menu a:active {
        background: #fff;
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: #DD2F6E;
        border-radius: 30px 0px 0px 30px;
    }


    .sidebar-menu a span:first-child {
        font-size: 1.5rem;
        padding-right: 1rem;
    }

.navText {
    color: #fff;
}

.main-content {
    margin-left: 345px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    position: fixed;
    left: 345px;
    width: calc(100% - 345px);
    top: 0;
    z-index: 100
}

header h2 {
    color: #222;
}

header label span {
    font-size: 1.7rem;
    padding-right: 1rem;
}

.search-wrapper {
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

    .search-wrapper span {
        display: inline-block;
        padding: 0rem 1rem;
        font-size: 1.5rem;
    }

    .search-wrapper input {
        height: 100%;
        padding: .5rem;
        border: none;
        outline: none;
    }

.user-wrapper {
    display: flex;
    align-items: center;
}

    .user-wrapper img {
        border-radius: 50%;
        margin-right: 1rem
    }

main {
    margin-top: 90px;
    padding: 2rem 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 90px);
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.card {
    display: flex;
    justify-content: space-between;
    background: #fff;
}

.user-wrapper small {
    display: inline-block;
    color: #8390A2;
}


.search-wrapper input {
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}

.card-single {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 2px;
}

    .card-single div:last-child span {
        color: #8390A2;
        font-size: 3rem;
    }

    .card-single div:first-child span {
        color: #8390A2;
    }

    .card-single:last-child {
        background: #8390A2;
    }

    .card-single:last-child {
        background: #DD2F6E;
    }

        .card-single:last-child h1,
        .card-single:last-child div:last-child span,
        .card-single:last-child div:first-child span {
            color: #fff;
        }
